<% wrap_layout :layout do %>
  <div id="post">
    <h1><%= current_article.title %></h1>
    <%= yield %>
  </div>
  <div class="social-footer footer">
    Follow me on twitter at <a href="http://www.twitter.com/ignu">@ignu</a>
    <div>
    Listen to my podcast at  <a href="http://turing.cool">http://turing.cool</a>
  </div>
  </div>
<% end %>
